*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background-color: #020617;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
