
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form__input{
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 10px;
    padding: 0 10px;
    box-shadow: 0 0 8px rgb(0,0,0,0.3);
    font-size: 15px;
}

.contact-form__btn{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    box-shadow: 0 0 8px rgb(0,0,0,0.3);
    background-color: rgb(0, 201, 0);
    color: white;
    font-size: 15px;
    transition: all 0.5s ease;
}

.contact-form__btn:hover{
    opacity: 0.85;
    transform: scale(1.01);
}