
.app{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  background-color: #42AAFF;
}

.app__main{
  width: 400px;
  background-color: rgb(248, 248, 248);
  box-shadow: 0 0 15px rgb(0,0,0,0.3);
  border-radius: 20px;
  padding: 12px 20px;
  min-height: 340px;   
  transition: all 0.7s ease;
  max-height: 95vh;
  overflow-y: auto;
}


.app__main:hover{
  width: 550px;
}